<!DOCTYPE html>
<html ng-app="taskListApp">
<head>
    <meta charset="utf-8">
    <title>Tasklist App</title>
    <meta name="description" content="An Ubuntu HTML5 application">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- Ubuntu UI Style imports - Ambiance theme -->
    <link href="/usr/share/ubuntu-html5-ui-toolkit/0.1/ambiance/css/appTemplate.css" rel="stylesheet" type="text/css"/>
    <!-- Ubuntu UI javascript imports - Ambiance theme -->
    <script src="/usr/share/ubuntu-html5-ui-toolkit/0.1/ambiance/js/fast-buttons.js"></script>
    <script src="/usr/share/ubuntu-html5-ui-toolkit/0.1/ambiance/js/core.js"></script>
    <script src="/usr/share/ubuntu-html5-ui-toolkit/0.1/ambiance/js/buttons.js"></script>
    <script src="/usr/share/ubuntu-html5-ui-toolkit/0.1/ambiance/js/dialogs.js"></script>
    <script src="/usr/share/ubuntu-html5-ui-toolkit/0.1/ambiance/js/page.js"></script>
    <script src="/usr/share/ubuntu-html5-ui-toolkit/0.1/ambiance/js/pagestacks.js"></script>
    <script src="/usr/share/ubuntu-html5-ui-toolkit/0.1/ambiance/js/tabs.js"></script>
    <!-- Cordova platform API access - Uncomment this to have access to the Javascript APIs -->
    <!-- <script src="cordova/cordova.js"></script> -->
    <!-- Application script -->
    <script src="js/jquery.js"></script>
    <script src="js/app.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/controllers.js"></script>

    <link href="css/tasklist.css" rel="stylesheet" type="text/css"/>

</head>
<body ng-controller="TaskListCtrl">
<div data-role="mainview">
        <header data-role="header">
        <ul data-role="tabs">
                <li data-role="tabitem" data-page="hello-page">My Task List</li>
        </ul>
        </header>
        <div data-role="content">
                <!-- The application main page -->
                <header data-role="page" id="hello-page">
                <form ng-submit="addTask()" class="" role="form">
                        <button class="small-button" style="float: right;" data-role="button" type="submit">Add</button>
                        <div class="form-group" style="overflow: hidden;padding-right:2rem;">
                                <label class="" for="taskDescription" style="display:none">Task</label>
                                <input id="taskDescription" class="form-control" type="text" ng-model="newTask" placeholder="Write new task here" required="required" style="width:100%"/>
                        </div>
                </form>
                </header>
                <section data-role="list" ng-repeat="category in categories">
                <div ng-show="category[1].length>0" style="margin-top:1rem"> <header class="large-font">
                        <h1>{{category[0]}}</h1>
                        </header>
                        <!-- http://stackoverflow.com/questions/14866185/number-of-items-in-a-list-filtered-angularjs -->
                        <ul data-role="listview" ng-repeat="task in category[1] = (tasks|filter:getTaskFilter(getDay(category[2][0]), getDay(category[2][1]))|orderBy:getTaskOrder) track by $index">
                                <li style="display:table">
                                <div style=" display: table-cell; vertical-align: middle">
                                        <div style="display:inline-block; float:right;vertical-align: middle" class="">
                                                <button data-role="button" class=" small-button" onclick="displayDate()" ng-click="setTask(task)">
                                                    <span ng-if="task.dueDate != null">{{millisUTCToLocalDate(task.dueDate)|date}}</span>
                                                    <span ng-if="!task.dueDate">No date</span>
                                                </button>

                                        </div>
                                        <div style="vertical-align: middle;overflow: hidden;padding-right:2rem;">
                                        <!-- http://stackoverflow.com/questions/6938900/css-input-take-remaining-space -->
                                                <div style=" float: left">
                                                        <input type="checkbox" ng-model="task.done" ng-change="doneClicked(task)"/>
                                                        <span ng-click="setTask(task)" onclick="displayNotes()"  ng-class="{'no-prop': !task.notes}"><strong>{N}</strong></span>
                                                        <span ng-click="setTask(task)" onclick="displayPriority()" class="task-priority-{{task.priority}}">
                                                            <span ng-if="task.priority"><strong>({{task.priority}})</strong></span>
                                                            <span ng-if="!task.priority" class="no-prop">{P}</span>
                                                        </span>
                                                </div>
                                                <div style="display:block;overflow: hidden" >
                                                    <input  ng-class="{'done': task.done, 'overdue' : task.isOverdue(), 'today' : task.isToday()}"  class="task-input" type="text" ng-model="task.desc" ng-model-onblur ng-change="task.descChanged()" />
                                                </div>
                                        </div>
                                </div>
                                </li>
                        </ul>
                </div>
                </section>
                <div data-role="dialog" id="dateDialog" class="date-dialog">
                        <section>
                        <h1>Choose due date for task</h1>
                        <menu>
                        <button data-role="button" ng-click="currentTask.dueDate = getDay(0)" onclick="hideDate()">Today</button>
                        <button data-role="button" ng-click="currentTask.dueDate = getDay(1)" onclick="hideDate()">Tomorrow</button>
                        <input type="date" ng-model="chosenDate" placeholder="Other date" data-role="datebox" data-options='{"mode":"datebox", "useNewStyle":true}'/>
                        <button data-role="button" ng-click="currentTask.dueDate = getChosenDate()" onclick="hideDate()">Other</button>
                        <button data-role="button" ng-click="currentTask.dueDate = null" onclick="hideDate()">No date</button>
                        <button data-role="button" onclick="hideDate()">Cancel</button>
                        </menu>
                        </section>
                </div>
                <div data-role="dialog" id="notesDialog" class="notes-dialog">
                        <section>
                        <h1>Type notes here:</h1>
                        <menu>
                        <textarea ng-model="currentTask.notes"></textarea>
                        <button data-role="button" onclick="hideNotes()">Close</button>
                        </menu>
                        </section>
                </div>

                <div data-role="dialog" id="priorityDialog" class="priority-dialog">
                        <section>
                        <h1>Choose priority here:</h1>
                        <menu>
                        <button data-role="button" ng-click="currentTask.priority='A'" onclick="hidePriority()">A</button>

                        <button data-role="button" ng-click="currentTask.priority='B'" onclick="hidePriority()">B</button>

                        <button data-role="button" ng-click="currentTask.priority='C'" onclick="hidePriority()">C</button>

                        <button data-role="button" ng-click="currentTask.priority=null" onclick="hidePriority()">None</button>

                        <button data-role="button" onclick="hidePriority()">Close</button>
                        </menu>
                        </section>
                </div>
        </div>
</div>
</body>
</html>
