<!DOCTYPE html>
<html ng-app="taskListApp">
<head>
    <meta charset="utf-8">
    <title>Tasklist App</title>
    <meta name="description" content="An Ubuntu HTML5 application">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- Ubuntu UI Style imports - Ambiance theme -->
    <link href="/usr/share/ubuntu-html5-ui-toolkit/0.1/ambiance/css/appTemplate.css" rel="stylesheet" type="text/css"/>
    <link href="css/tasklist.css" rel="stylesheet" type="text/css"/>
    <!-- Ubuntu UI javascript imports - Ambiance theme -->
    <script src="/usr/share/ubuntu-html5-ui-toolkit/0.1/ambiance/js/fast-buttons.js"></script>
    <script src="/usr/share/ubuntu-html5-ui-toolkit/0.1/ambiance/js/core.js"></script>
    <script src="/usr/share/ubuntu-html5-ui-toolkit/0.1/ambiance/js/buttons.js"></script>
    <script src="/usr/share/ubuntu-html5-ui-toolkit/0.1/ambiance/js/dialogs.js"></script>
    <script src="/usr/share/ubuntu-html5-ui-toolkit/0.1/ambiance/js/page.js"></script>
    <script src="/usr/share/ubuntu-html5-ui-toolkit/0.1/ambiance/js/pagestacks.js"></script>
    <script src="/usr/share/ubuntu-html5-ui-toolkit/0.1/ambiance/js/tabs.js"></script>
    <!-- Cordova platform API access - Uncomment this to have access to the Javascript APIs -->
    <!-- <script src="cordova/cordova.js"></script> -->
    <!-- Application script -->
    <script src="js/jquery.js"></script>
    <script src="js/app.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="TaskListCtrl">
<div data-role="mainview">
        <header data-role="header">
        <ul data-role="tabs">
                <li data-role="tabitem" data-page="hello-page">My Task List</li>
        </ul>
        </header>
        <div data-role="content">
                <!-- The application main page -->
                <header data-role="page" id="hello-page">
                <form ng-submit="addTask()" class="" role="form">
                        <button class="small-button" style="float: right;" data-role="button" type="submit">Add</button>
                        <div class="form-group" style="overflow: hidden;padding-right:2rem;">
                                <label class="" for="taskDescription" style="display:none">Task</label>
                                <input id="taskDescription" class="form-control" type="text" ng-model="newTask" placeholder="Write new task here" required="required" style="width:100%"/>
                        </div>
                </form>
                </header>
                <section data-role="list" ng-repeat="category in categories">
                <div ng-show="category[1].length>
                         0" style="margin-top:1rem"> <header class="large-font">
                        <h1>{{category[0]}}</h1>
                        </header>
                        <ul data-role="listview" ng-repeat="task in category[1] track by $index">
                                <li style="display:table">
                                <div style=" display: table-cell; vertical-align: middle">
                                        <div style="display:inline-block;vertical-align: middle">
                                                <input type="checkbox" ng-model="task.done"/>
                                                <span ng-class="{'done': task.done, 'overdue' : task.dueDate !=null && task.dueDate < getDay(0)}">{{task.desc}}</span>
                                        </div>
                                        <div style="display:inline-block; float:right;vertical-align: middle" class="">
                                                <button data-role="button" class=" small-button" onclick="displayDate()" ng-click="setTask(task)" ng-if="task.dueDate != null">{{millisUTCToLocalDate(task.dueDate)|date}}</button>
                                                <button data-role="button" class=" small-button" onclick="displayDate()" ng-click="setTask(task)" ng-if="task.dueDate === null">No date</button>
                                        </div>
                                </div>
                                </li>
                        </ul>
                </div>
                </section>
                <div data-role="dialog" id="dateDialog" class="date-dialog">
                        <section>
                        <h1>Choose due date for task</h1>
                        <menu>
                        <button data-role="button" ng-click="currentTask.dueDate = getDay(0)" onclick="hideDate()">Today</button>
                        <button data-role="button" ng-click="currentTask.dueDate = getDay(1)" onclick="hideDate()">Tomorrow</button>
                        <input type="date" ng-model="chosenDate" placeholder="Other date" data-role="datebox" data-options='{"mode":"datebox", "useNewStyle":true}'/>
                        <button data-role="button" ng-click="currentTask.dueDate = getChosenDate()" onclick="hideDate()">Other</button>
                        <button data-role="button" ng-click="currentTask.dueDate = null" onclick="hideDate()">No date</button>
                        <button data-role="button" onclick="hideDate()">Cancel</button>
                        </menu>
                        </section>
                </div>
        </div>
</div>
</body>
</html>
