.done {
   text-decoration:line-through
}

.overdue,
input[type="text"].overdue {
    color : red;
}

.today,
input[type="text"].today {
    color : blue;
}

.small-button {
width : 8rem;
}

.float-right {
    float : right;
    position:absolute;
    right:0.5rem;
}

[data-role="content"] {

padding-right:1em;
padding-left:1em;
width:auto;
}

.task-priority-A {
  color : red;
}

.task-priority-B {
  color : orange;
}

.task-priority-C {
  color : green;
}

.no-prop {
    opacity:.3;
}

input.task-input {
    background:rgba(0,0,0,0);
    border:none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width:100%;

    text-overflow: ellipsis;
}

.img-notes {
     background: url(img/notes.svg);
     background-size: 1rem 1rem;
     background-repeat: no-repeat;
     width: 1rem;
     height: 1rem;
     display: block;
}


a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;}
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:240px; line-height:16px;
}
a.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}

/*CSS3 extras*/
a.tooltip span
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}
