.done {
   text-decoration:line-through
}

.overdue,
input[type="text"].overdue {
    color : red;
}

.today,
input[type="text"].today {
    color : blue;
}

.small-button {
width : 8rem;
}

.float-right {
    float : right;
    position:absolute;
    right:0.5rem;
}

[data-role="content"] {

padding-right:1em;
padding-left:1em;
width:auto;
}

.task-priority-A {
  color : red;
}

.task-priority-B {
  color : orange;
}

.task-priority-C {
  color : green;
}

.no-prop {
    opacity:.3;
}

input.task-input {
    background:rgba(0,0,0,0);
    border:none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width:100%;

    text-overflow: ellipsis;
}
